body{background-color:black;}

p, li {font-family: "Lucida Console", Courier, monospace;
       color:white; }

h1, h2 {font-family: "Lucida Console", Courier, monospace;
      color:white; }
      
      
